/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
	 Base styles: opinionated defaults
	 ========================================================================== */

html {
		color: #222;
		font-size: 1em;
		line-height: 1.4;
		box-sizing: border-box;
		font-family: 'Arsenal', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h3, h5 {
		font-family: 'Bitter', serif !important;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
		background: #b3d4fc;
		text-shadow: none;
}

::selection {
		background: #b3d4fc;
		text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
		vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
		border: 0;
		margin: 0;
		padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
		resize: vertical;
}

/* ==========================================================================
	 Browser Upgrade Prompt
	 ========================================================================== */

.browserupgrade {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		padding: 0.2em 0;
}

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */

a {
		color: inherit;
		text-decoration: none;
		display: inline-block;
}

h1, h3, h5, ul {
		margin: 0;
		padding: 0;
}

/*Header*/

.main-header {
		width: 100%;
		height: 120px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		z-index: 500;
		max-width: 1400px;
		margin: 0 auto;
}

.main-logo {
		float: left;
		height: 100%;
		display: table;
		color: white;
}

.main-logo a {
		display: table-cell;
		vertical-align: middle;
}

.main-logo h1 {
		font-size: 20px;
		
}

.main-nav {
		float: right;
		height: 100%;
		display: table;
}

.main-nav-ul {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		color: white;
}

.main-nav-li {
		display: inline-block;
		padding: 0 15px;
		font-size: 18px;
}


/*Hero*/

.hero {
	height: 100vh;
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	background: #708090;
}

.hero-main {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		max-width: 600px;
		left: 0;
		right: 0;
		margin: 0 auto;
		color: white;
		z-index: 500;
		text-align: center;
}

.hero-icon-container {
		position: absolute;
		z-index: 500;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 100px;
		color: white;
		text-align: center;
		font-size: 22px;
}


/*about*/

#about {
		width: 100%;
		height: 100vh;
		position: relative;
		background: #ffe3c8;
		background: -moz-linear-gradient(-45deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffe3c8), color-stop(45%, #efad9e), color-stop(65%, #c79797), color-stop(85%, #a78a92), color-stop(100%, #857d8d));
		background: -webkit-linear-gradient(-45deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
		background: -o-linear-gradient(-45deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
		background: -ms-linear-gradient(-45deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
		background: linear-gradient(135deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
}

#about-container {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		color: white;
}

#about-container h1 {
		font-weight: 300;
		font-size: 24px;
		letter-spacing: 1px;
}

#about-container p {
		line-height: 23px;
		font-size: 18px;
}

.about-ul {
		list-style: none;
		margin: 25px 0 0;
}

.about-ul li {
		padding: 0 10px;
		font-size: 20px;
}

.devshop {
		text-decoration: underline;
}

/*work*/

#work {
		width: 100%;
		height: 100vh;
		position: relative;
		overflow: hidden;
}

.box-container {
		width: 100%;
		overflow: hidden;
		margin: 0 auto;
		max-width: 1000px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
}

.box-container a {
		display: inline;
}

.box-container p {
		width: 600px;
		margin: 0 auto 20px;
}

.box {
		float: left;
		height: 200px;
		width: 33.333333%;
		position: relative;
}

.box img {
		width: 100%;
		height: 100%;
}

.box-overlay {
		display: none;
		position: absolute;
		z-index: 500;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 102, 255, 0.45);
}

.box-overlay-text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: white;
		text-align: center;
		width: 100%;
		font-size: 24px;
}

/*footer*/

.footer {
		position: relative;
}

.footer-band {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50px;
		background: #ccc;
}



/*Video*/

/*.homepage-hero-module {
		border-right: none;
		border-left: none;
		position: relative;
}
.no-video .video-container video,
.touch .video-container video {
		display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
		display: block !important;
}
.video-container {
		position: relative;
		bottom: 0%;
		left: 0%;
		height: 100%;
		width: 100%;
		overflow: hidden;
		background: #000;
}
.video-container .poster img {
		width: 100%;
		height: 100%;
		bottom: 0;
		position: absolute;
}
.video-container .filter {
		z-index: 100;
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		width: 100%;
}
.video-container video {
		position: absolute;
		z-index: 0;
		bottom: 0;
}
.video-container video.fillWidth {
		width: 100%;
}*/














/* ==========================================================================
	 Helper classes
	 ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
		display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
		visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
		content: " "; /* 1 */
		display: table; /* 2 */
}

.clearfix:after {
		clear: both;
}

/* ==========================================================================
	 EXAMPLE Media Queries for Responsive Design.
	 These examples override the primary ('mobile first') styles.
	 Modify as content requires.
	 ========================================================================== */

@media only screen and (min-width: 35em) {
		/* Style adjustments for viewports that meet the condition */
}

@media print,
			 (-webkit-min-device-pixel-ratio: 1.25),
			 (min-resolution: 1.25dppx),
			 (min-resolution: 120dpi) {
		/* Style adjustments for high resolution devices */
}

@media all and (max-width: 600px) {
		.main-header {
				padding: 0 20px !important;
		}

		.main-logo h1 {
				font-size: 16px !important;
		}

		.hero-main {
				padding: 0 20px !important;
		}

		#about {
				height: auto !important;
		}

		#about-container {
				padding: 100px 20px !important;
				position: static !important;
				top: 0 !important;
				transform: none !important;
		}

		.box {
				padding: 0px !important;
				width: 100% !important;
		}

		#work {
				padding-bottom: 0 !important;
				height: auto !important;
		}

		.box-container {
				position: static !important;
				top: 0 !important;
				transform: none !important;
		}
}

/* ==========================================================================
	 Print styles.
	 Inlined to avoid the additional HTTP request:
	 http://www.phpied.com/delay-loading-your-print-css/
	 ========================================================================== */

@media print {
		*,
		*:before,
		*:after,
		*:first-letter,
		*:first-line {
				background: transparent !important;
				color: #000 !important; /* Black prints faster:
																	 http://www.sanbeiji.com/archives/953 */
				box-shadow: none !important;
				text-shadow: none !important;
		}

		a,
		a:visited {
				text-decoration: underline;
		}

		a[href]:after {
				content: " (" attr(href) ")";
		}

		abbr[title]:after {
				content: " (" attr(title) ")";
		}

		/*
		 * Don't show links that are fragment identifiers,
		 * or use the `javascript:` pseudo protocol
		 */

		a[href^="#"]:after,
		a[href^="javascript:"]:after {
				content: "";
		}

		pre,
		blockquote {
				border: 1px solid #999;
				page-break-inside: avoid;
		}

		/*
		 * Printing Tables:
		 * http://css-discuss.incutio.com/wiki/Printing_Tables
		 */

		thead {
				display: table-header-group;
		}

		tr,
		img {
				page-break-inside: avoid;
		}

		img {
				max-width: 100% !important;
		}

		p,
		h2,
		h3 {
				orphans: 3;
				widows: 3;
		}

		h2,
		h3 {
				page-break-after: avoid;
		}
}
