html, body {
	width: 100%;
	overflow-x: hidden;
}

#h {
	min-height: 667px;
}

#hello-i-am {
	right: 0;
	bottom: 28px;
}

#g #catnapp-mobile {
	right: 0;
	left: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 372px;
}

#g #cookie-mobile {
	top: 15px;
	left: 6px;
	margin-left: auto;
	margin-right: auto;
	width: 372px;
}

#sep .headshot {
	height: auto;
	width: 100%;
}

#headshot-mobile {
	right: 15px;
}